header {
  display: flex;
  background: #fff;
  height: toRem(80);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  .header-left {
    width: toRem(260);
    background-color: #c2d5f9;
    padding: 0 toRem(15);
    p {
      color: #447ff4;
      font-size: 32px;
      font-weight: bold;
      margin: 0px;
    }
    img {
      width: toRem(40);
    }
  }

  .header-center {
    padding: 0px toRem(50);
    margin: auto 0px;

    & > * {
      font-size: 32px;
      font-weight: bold;
      margin: auto 0px;
    }
  }

  .header-right {
    display: flex;
    margin-left: auto;
    padding: toRem(20);
    .input-group {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      width: 100%;

      input {
        border: 1px solid #eeeeee;
        padding: 10px 15px 10px 15px;
        border-radius: 19.5px;
        border-right: 0px;
        &:focus {
          border: 2px solid gray;
        }
        &:focus-visible {
          border: 2px solid gray;
        }
      }
      .input-group-text {
        margin: 5px 0px 5px -30px;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .icon {
      color: #a8aabc;
      margin: auto 15px;
      border: none;
      background: white;
      svg {
        width: toRem(24);
        height: toRem(24);
      }
    }
  }
}
